<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改用户名</title>
   <link rel="stylesheet" href="..\static\css\change.css">
    <link rel="stylesheet" href="..\static\css\styleforget.css">
</head>
<body>
    <div class="container1">
        <div class="main">
            <span>
                <p>请输入你的密码:</p>
            </span>
            <form action="/change_username"method="POST">
                <div class="passwords">
                    <input type="password" id="email" placeholder="密码" name="passwd" required />
                </div>
                <div class="error">{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}</div>
                <button type="submit" id="submit"><a href="{{ url_for('change_username1') }}">确定</a></button>
        </div>
    </div>
</body>

</html>