<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>翻牌</title>
   <link rel="stylesheet" href="../static/css/everydaylove.css">
</head>

<body>
   <!-- 上标题 -->
   <div class="top"><div>每日想吃</div></div>
   <div class="buttom">
      <div class="card-container">
         <div class="cover">
            <img src="..\static\img\cover1.png" alt="">
         </div>
         <a href="" name="back1">
            <div class="back">
               <img src="" alt="" name="back-img1">
            </div>
         </a>
      </div>
      <div class="card-container">
         <div class="cover">
            <img src="..\static\img\cover2.png" alt="">
         </div>
         <a href="" name="back2">
            <div class="back">
               <img src="" alt="" name="back-img2">
            </div>
         </a>
      </div>

      <div class="card-container">
         <div class="cover">
            <img src="..\static\img\cover3.png" alt="">
         </div>
         <a href="" name="back3">
            <div class="back">
               <img src="" alt="" name="back-img3">
            </div>
         </a>
      </div>
      <div class="card-container">
         <div class="cover">
            <img src="..\static\img\cover4.png" alt="">
         </div>
         <a href="" name="back4">
            <div class="back">
               <img src="" alt="" name="back-img4">
            </div>
         </a>
      </div>
   </div>


   <script src="..\static\js\everydaylove.js"></script>
</body>

</html>