<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>

<body>
    <div class="top">
        <div class="topleft"><a href="{{ url_for('index') }}">返回主界面</a></div>
    </div>


    <!-- 左边导航栏 -->
    <div class="profileleft">
        <div class="Informa" id="Informa">账号信息</div>
        <div class="manage" id="manage">账号管理</div>
    </div>

    <!-- 账号信息 -->
    <div class="container" id="container">
        <div class="section">
            <div class="sectiontop">

                <div class="sectiontop1">
                    <img src="" alt="" name="user-img">
                </div>
                <div class="sectiontop2">
                    <p><span class="title">用户名：</span>{{ user.username }}</p>
                    <p><span class="title">邮箱：</span>{{ user.email }}</p>
                    <p><span class="title">注册时间：</span>{{ user.registered_at }}</p>
                </div>
            </div>

            <div class="menu">
                <div class="love" id="love">
                    喜欢
                </div>
                <div class="shoucang" id="shoucang">
                    收藏
                </div>
            </div>
            <!-- 喜欢的盒子 -->
            <div class="love-box" id="lovebox">
                <div class="food">
                    <h4>菜品</h4>
                    <div class="fs-box">
                        {% for item in items %}
                        <a href="">
                            <div class="hwbox">
                                <div class="food-image">
                                    <img src="" alt="">
                                </div>
                                <div>
                                    <p>菜品名称</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="store">
                    <h4>店家</h4>
                    <div class="fs-box">
                        {% for item in items %}
                        <a href="">
                            <div class="hwbox">
                                <div class="store-image">
                                    <img src="" alt="">
                                </div>
                                <div>
                                    <p>商店名称</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- 收藏的盒子 -->
            <div class="shoucang-box" id="shoucangbox" style="display: none;">
                <div class="food">
                    <h4>菜品</h4>
                    <div class="fs-box">
                        {% for item in items %}
                        <a href="">
                            <div class="hwbox">
                                <div class="food-image">
                                    <img src="" alt="">
                                </div>
                                <div>
                                    <p>菜品名称</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="store">
                    <h4>店家</h4>
                    <div class="fs-box">
                        {% for item in items %}
                        <a href="">
                            <div class="hwbox">
                                <div class="store-image">
                                    <img src="" alt="">
                                </div>
                                <div>
                                    <p>商店名称</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 管理 -->
    <div class="container2" id="container2">
        <div class="section">
            <h2>用户名管理</h2>
            <button type="submit"class="submit"id="submit"><a href="{{ url_for('change_username') }}">修改邮箱</a></button>
            <h2>密码管理</h2>
            
               <button type="submit"class="submit"id="submit"><a href="{{ url_for('change_password') }}">修改密码</a></button> 
            
            <h2>邮箱管理</h2>
            <button type="submit"class="submit"id="submit"><a href="{{ url_for('change_email') }}">修改邮箱</a></button>
           
            <h2>账户安全</h2>
            <p><span class="title">登录历史：</span></p>
            <ul class="history-list">
                {% for history in login_history %}
                <li>{{ history }}</li>
                {% endfor %}
            </ul>

        </div>


        <script src="../static/js/profile.js"></script>

</body>

</html>