<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\static\styleforget.css">
    <style>
        .main {
            position: relative;
            left: 40px;

        }

        button {
            position: relative;
            top: 30px;
            left: 50px;
            height: 50px;
            width: 300px;
            border-radius: 5px;
        }

        
    </style>
</head>

<body>
    <div class="container1">
        <div class="main">
            <h3>验证码已成功发送</h3><br>
            <h4>请输入验证码</h4>
            <input id="verify_code" type="text" placeholder="验证码" name="verify_code" required><br>
            <div class="error">{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}</div>
            <button name="verify_code_input">确定</button>
        </div>
    </div>

</body>

</html>