.slides-left {
    background-color: #c7c8cf;
    width: 240px;
    height: 384px;
   position: absolute;
   top: 20px;
   left:20px;
   border-radius: .4rem;
}
.slides-left-top{
    width: 100%;
    height: 70%;
}
.slides-left-buttom{
    width: 100%;
    height: 20%;
   
}
.everydaylove{
    width: 85%;
    height: 90%;
    background-color: aliceblue;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: 17px;
    font-size: large;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}
.everydaylove .iconfont{
    font-size:25px;
}
.slides-left-top{ 
    position: relative;
    top: 10px;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}
.slides-left-top .word{
    width: 85%;
    height: 90%;
    display: none;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    font-size: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}
.slides-left-top>img{
    width: 85%;
    height: 90%;
    border-radius: 10px;
}
.redtip{
    position: relative;
    right: 10px;
    height: 12px;
    width: 12px;
    background-color: brown;
    border-radius: 50%;
}